
<div class="uk-position-top" dir="rtl">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#saveReport">صفحه اصلی</a></li> 
                    <li><a href="#showReport">لیست گزارشات</a></li>
                    <li><a href="#listRegister">لیست ثبت نام</a></li>
                    <li><a href="#login">ورود</a></li>
                    <li><a href="#register">ثبت نام</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div ui-view></div>