<article>
  <div ng-controller="updateController" dir="rtl">
      <form class="uk-form sabt2 uk-width-3-5 uk-align uk-align-center uk-padding uk-padding-medium uk-flex uk-flex-center " name="myForm">  
    <div>
      <legend class="uk-legend">ویرایش حساب کاربری</legend>
          <div class="uk-margin-top">
              <input type="text" class="uk-input uk-margin-top uk-form-width-large" placeholder="نام کاربری" 
              name="Name" ng-model="myName" required/>
          </div>
          <div class="uk-margin-top">
            <input type="tel" class="uk-input uk-margin-top uk-form-width-large"  name="email" ng-model="Email" placeholder="ایمیل"/>
        </div>
          <div class="uk-margin-top">
            <input type="password" class="uk-input  uk-margin-top uk-form-width-large" placeholder="رمز ورود" 
            name="Pass" ng-model="Pass"/>
           
            <tr ng-repeat="p in users "></tr>
        </div >
        <div class="uk-margin-top">
              <button type="submit" class="uk-button uk-button-secondary uk-margin-top" ng-click="update()">ویرایش</button> 
            </div>
            </div>
</div> 

      </form>
    </div>
  </article>